<div class="grid-item cat-grid">
    <div class="card hoverable">
    {%- include figure.liquid 
        path=cat.img
        alt="project thumbnail" -%}
    <div class="card-body">
        <p class="card-text">{{cat.description}}</p>
    </div>
    </div>
</div>