/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
  p {
    font-size: 1.2em;
  }
  .nav-item {
    font-size: 1.2em;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

.post-content {
  h2 {
    margin-bottom: 0.8rem;
    margin-top: 1rem;
  }
  p {
    font-size: 1.2em;
  }
  table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-collapse: collapse;
  }
  th, td {
    padding-left: 5px;
    padding-right: 5px;
  }
  tr:nth-child(even) { 
    background-color: rgb(211, 218, 211); 
  }
  .table-dark {
    tr:nth-child(even) { 
      background-color: rgb(67, 89, 98); 
    }
  }
}

.cat-grid {
  padding: 10px 10px 10px 10px;
  .hoverable {
    padding: 10px;
  }
  .card-body {
    padding: 2px 2px 2px 2px;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
